Source: ros-hydro-pr2-shield-teleop
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-pr2-teleop
Homepage: http://ros.org/wiki/pr2_shield_teleop
Standards-Version: 3.9.2

Package: ros-hydro-pr2-shield-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-teleop
Description: pr2_shield_teleop
